html { overflow-x:hidden; }
.content-header {
    position: relative;
    padding: 0 0 3px 8px
}

.xa-searchPanel{
    float: left;
    width: 22%;
    margin: 1rem;
}
.xa-deal-btn{
    float: left;
    margin-left: 2rem;
    color: dodgerblue;
}

.xa-width100{
    width: 100px !important;
}

.xa-text-center{
    text-align: center !important;
}

.layui-form-label{
    width: 100px !important;
}
.bh-input{
    width: 85rem !important;
}
